[user]
    email = kjell.kongsvik@gmail.com
    name = Kjell W. Kongsvik
    editor = hx
[core]
    editor = hx
    excludesfile = ~/.local_gitignore
    autocrlf = input
[alias]
    co = checkout
    st = status
    sw = switch
    chp = cherry-pick
    l = log --oneline

[rebase]
	autosquash = true
[gpg]
	format = ssh
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
